<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="DBServer" value="localhost"/>
      <add key="DBPort" value="3306"/>
      <add key="DBName" value="hotel"/>
      <add key="DBUser" value="root"/>
      <add key="DBPassword" value="qwertyuiop"/>
    </appSettings>
</configuration>